/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 50px;
  color: salmon;
  text-align: center;
  font-size: 100px;
  background-color: gainsboro;
}

.maincontainer {
  display: flex;
  flex-direction: column;
}

.toDoContainer {
  text-align: center;
}

.date {
  color: sienna;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}

.addnewToDo {
  margin-bottom: 20px;
  margin-right: 0;
  height: 7px;
  width: 75;
}

.addBtn {
  background-color: darkslategrey;
  color: white;
  padding: 2px;
  border-radius: 4px;
}

.myList {
  margin: 0;
  padding: 0;
}

.myList li, .CompletedList li{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 20px;
  transition: 0.2s;
  user-select: none;
  margin-top: 20px;
}

.myList li:nth-child(odd) {
  background: #f9f9f9;
}

.myList li:hover::after {
  content: "🗑️";
}

.CompletedList li{
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.ShowAndClearBtn {
  margin: 20px;
  color: salmon;
  justify-content: center;
  border-radius: 4px;
}

.pending, .completed {
  color: salmon;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: gainsboro;
  padding: 20px;
  width: 30vw;
}

.hidden {
  display: none;
}

.chill {
  color: salmon;
  font-size: 30px;
  margin-top: 30px;
}