/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 2rem;
  padding: 1rem;
  color: rgb(114, 31, 22);
  text-align: center;
  font-size: 5rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background: linear-gradient(#eee, #555);
}

.toDoContainer {
  text-align: center;
}

.date {
  color: rgb(88, 35, 10);
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}

.addNewToDo {
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  height: 3rem;
  width: 30%;
  font-style: italic;
  color: #888;
  border-radius: 4px;
  border-top: .2rem solid rgb(18, 44, 17);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.addBtn {
  background-color: rgb(57, 182, 182);
  color: white;
  padding: .5rem;
  border-radius: 8px;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  border: .2rem solid rgb(18, 44, 17);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.addBtn i {
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.pending,
.completed {
  color: salmon;
  margin: 3rem 0 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: gainsboro;
  padding: 1rem;
  width: 30vw;
  transform: skew(-10deg);
}

.myList {
  margin: 0;
  padding: 0;
}

.myList li,
.CompletedList li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #888484;
  font-size: 20px;
  transition: 0.2s;
  user-select: none;
  margin: 1rem 10rem;
  padding: 1rem;
  list-style-type: none
}

.myList li:nth-child(odd) {
  background: #f9f9f9;
  color: rgb(53, 11, 240)
}

.myList li:nth-child(even) {
  background: #ddd9d9;
  color: rgb(53, 11, 240)
}

.myList li:hover::before {
  content: "⬜   ";
}

.myList li:active::before {
  content: "✅   ";

}

.CompletedList li {
  background: #d6f3ec;
  color: #333;
  text-decoration: line-through;
}

.show,
.clear {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: salmon;
  justify-content: center;
  border: 0.2rem solid salmon;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
  border-radius: 4px;
}

.show:hover,
.clear:hover {
  font-size: 1.5rem;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.chill {
  color: salmon;
  font-size: 30px;
  margin-top: 30px;
}

@media (max-width: 800px) {
  body {
    font-size: 10px;
  }

  .mainContainer {
    width: 100vw;
  }

  h2 {
    font-size: 3.5rem;
  }

  .pending,
  .completed {
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {

  .mainContainer {
    width: 100vw;
  }

  h2 {
    font-size: 3.2rem;
  }

  .addNewToDo {
    width: 50%;
  }

  .pending,
  .completed {
    width: 50vw;
  }

  li {
    width: 50vw;
    height: 5vh;
    margin: auto;
  }

  .show,
  .clear {
    font-size: 1.1rem;
  }

  .show:hover,
  .clear:hover {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}